#============= tee ==============
allow tee fingerprintd_data_file:dir rw_dir_perms;
allow tee fingerprintd_data_file:file create_file_perms;
allow tee goodix_data_file:dir rw_dir_perms;
allow tee goodix_data_file:file create_file_perms;
allow tee fingerprintd_data_file:dir write;
allow tee fingerprintd_data_file:dir add_name;
